<!DOCTYPE html>
<meta name="mobile-web-app-capable" content="yes">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KimTaiPhongThuy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KimTaiPhongThuy.styles.css" asp-append-version="true" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="TemplatesJungle">
    <meta name="keywords" content="Free HTML CSS Template, gemstone website template, jewellery website template, ecommerce">
    <meta name="description" content="Free HTML CSS Template by TemplatesJungle.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
    <header b-86zuwu24vm="" style="
    background-color: darkred;
">
        <nav b-86zuwu24vm="" class="secondary-nav border-top border-bottom">
            <div b-86zuwu24vm="" class="">
                <div b-86zuwu24vm="" class="row">
                    <div b-86zuwu24vm="" class="top-menu d-flex flex-wrap justify-content-between">
                        <div b-86zuwu24vm="" class="left-block d-flex flex-wrap list-unstyled justify-content-start">
                            <li b-86zuwu24vm="" class="menu-item">
                                <form class="searchbar">
                                    <input b-86zuwu24vm="" type="text" name="search" placeholder="Search Here..">
                                    <i b-86zuwu24vm="" class="icon icon-search"></i>
                                </form>
                            </li>
                        </div>
                        <div b-86zuwu24vm="" class="right-block d-flex flex-wrap justify-content-center">
                            <div b-86zuwu24vm="" class="main-logo">
                                <a b-86zuwu24vm="" href="index">
                                    <img b-86zuwu24vm="" src="images/WEB/main-logo.png" alt="logo" style="height:40px; width:100%">
                                </a>
                            </div>
                        </div>
                        <ul class="right-block d-flex flex-wrap list-unstyled justify-content-end">
                            @if (Context.Session.GetString("ErrorMessage") != null)
                            {
                                <div class="alert alert-warning" style="position: absolute; top: 20px; right: 20px; z-index: 999;">
                                    @Context.Session.GetString("ErrorMessage")
                                </div>
                                @* Sau khi hiển thị thông báo, xóa thông báo khỏi session *@
                                Context.Session.Remove("ErrorMessage");
                            }

                            <li class="menu-item">
                                @if (Context.Session.GetString("UserName") != null)
                                {
                                    <a href="Authentication/Profile" style="color: yellow;">
                                        <i class="icon icon-user"></i>@Context.Session.GetString("UserName")
                                    </a>
                                    @* <!-- Nút Logout -->
                                <form method="post" asp-page-handler="Logout" style="display:inline;">
                                <button type="submit" name="logout" value="true" style="background: none; border: none; color: yellow; cursor: pointer;">
                                <i class="icon icon-logout"></i> Logout
                                </button>
                                </form> *@
                                }
                                else
                                {
                                    <a href="/Authentication/Account" style="color: yellow;">
                                        <i class="icon icon-user"></i>Login
                                    </a>
                                }
                            </li>
                        </ul>



                    </div>
                </div>
            </div>
        </nav>
        @* <nav b-86zuwu24vm="" class="secondary-nav">
        <div b-86zuwu24vm="" class="">
        <div b-86zuwu24vm="" class="row d-flex flex-wrap justify-content-center">
        <div b-86zuwu24vm="" class="col-md-8 col-sm-10">
        <div b-86zuwu24vm="" class="navbar d-flex">
        <div b-86zuwu24vm="" class="main-menu stellarnav desktop light">
        <ul b-86zuwu24vm="" class="menu-list list-unstyled">
        <li b-86zuwu24vm="" class="menu-item">
        <a b-86zuwu24vm="" href="/index" class="text-uppercase item-anchor" style="
        color: yellow;
        ">Trang chủ</a>
        </li>
        <li b-86zuwu24vm="" class="menu-item">
        <a b-86zuwu24vm="" href="/chat" class="text-uppercase item-anchor" style="
        color: yellow;
        ">Tư vấn nhanh</a>
        </li>
        <li b-86zuwu24vm="" class="menu-item">
        <a b-86zuwu24vm="" href="/Products/ProductList" class="text-uppercase item-anchor" style="
        color: yellow;
        ">Sản phẩm</a>
        </li>
        <li b-86zuwu24vm="" class="menu-item">
        <a b-86zuwu24vm="" href="blog" class="text-uppercase item-anchor" style="
        color: yellow;
        ">Blog</a>
        </li>
        <li b-86zuwu24vm="" class="menu-item">
        <a b-86zuwu24vm="" href="blog.html" class="text-uppercase item-anchor" style="
        color: yellow;
        ">Về chúng tôi</a>
        </li>
        </ul>
        </div>
        <div b-86zuwu24vm="" class="hamburger">
        <span b-86zuwu24vm="" class="bar"></span>
        <span b-86zuwu24vm="" class="bar"></span>
        <span b-86zuwu24vm="" class="bar"></span>
        </div>
        </div>
        </div>
        </div>
        </div>
        </nav> *@
        <nav b-86zuwu24vm="" class="secondary-nav">
            <div b-86zuwu24vm="" class="">
                <div b-86zuwu24vm="" class="row d-flex flex-wrap justify-content-center">
                    <div b-86zuwu24vm="" class="col-md-8 col-sm-10">
                        <div b-86zuwu24vm="" class="navbar d-flex">
                            <div b-86zuwu24vm="" class="main-menu stellarnav desktop light">
                                <ul b-86zuwu24vm="" class="menu-list list-unstyled">
                                    <li b-86zuwu24vm="" class="menu-item">
                                        <a b-86zuwu24vm="" href="/index" class="text-uppercase item-anchor" style="color: yellow;">
                                            Trang chủ
                                        </a>
                                    </li>

                                    <!-- Tư vấn nhanh -->
                                    <li b-86zuwu24vm="" class="menu-item">
                                        @if (Context.Session.GetString("UserName") != null)
                                        {
                                            <a b-86zuwu24vm="" href="/chat" class="text-uppercase item-anchor" style="color: yellow;">
                                                Tư vấn nhanh
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/Authentication/Account" class="text-uppercase item-anchor" style="color: yellow;">
                                                Tư vấn nhanh
                                            </a>
                                        }
                                    </li>

                                    <!-- Sản phẩm -->
                                    <li b-86zuwu24vm="" class="menu-item">
                                        @if (Context.Session.GetString("UserName") != null)
                                        {
                                            <a b-86zuwu24vm="" href="/Products/ProductList" class="text-uppercase item-anchor" style="color: yellow;">
                                                Sản phẩm
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/Authentication/Account" class="text-uppercase item-anchor" style="color: yellow;">
                                                Sản phẩm
                                            </a>
                                        }
                                    </li>

                                    <li b-86zuwu24vm="" class="menu-item">
                                        <a b-86zuwu24vm="" href="/Blog" class="text-uppercase item-anchor" style="
    color: yellow;
">Blog</a>
                                    </li>
                                    <li b-86zuwu24vm="" class="menu-item">
                                        <a b-86zuwu24vm="" href="blog.html" class="text-uppercase item-anchor" style="
    color: yellow;
">Về chúng tôi</a>
                                    </li>
                                </ul>
                            </div>
                            <div b-86zuwu24vm="" class="hamburger">
                                <span b-86zuwu24vm="" class="bar"></span>
                                <span b-86zuwu24vm="" class="bar"></span>
                                <span b-86zuwu24vm="" class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2025 - KimTaiPhongThuy - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    </footer> *@
    <footer id="footer" class="bg-grey padding-large overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="footer-content">
                    <div class="row d-flex flex-wrap">
                        <div class="footer-menu col-md-4 col-sm-6 col-xs-6">
                            <h5 class="widget-title text-uppercase">Quick Links</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/index">Trang Chủ</a>
                                </li>
                                <li>
                                    <a href="/Products/ProductList">Sản phẩm</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu col-md-4 col-sm-6 col-xs-6">
                            <h5 class="widget-title text-uppercase">Your Account</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">My Account</a>
                                </li>
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Wish Lists</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu col-md-4 col-sm-6 col-xs-6">
                            <img src="images/WEB/main-logo.png" alt="main-logo" class="img-fluid mb-4">
                            <div class="content">
                                <div class="widget-content">
                                    <p>Cập nhật những tin tức mới nhất</p>
                                    <div class="newsletter-button d-flex flex-wrap align-items-center">
                                        <input type="text" name="Subscribe" placeholder="Email của bạn">
                                        <button class="btn btn-primary">Đăng ký</button>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div class="address">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="icon icon-location text-primary"></i>Khu CN Cao Hòa Lạc, Thạch Thất, Hà Nội
                                            </li>
                                            <li>
                                                <i class="icon icon-phone text-primary"></i>+84 123 456 789
                                            </li>
                                            <li>
                                                <i class="icon icon-envelope text-primary"></i>
                                                <div class="mail-address">
                                                    <a href="mailto:hello@templatesjungle.com" class="">kimtaiphongthuy@gmail.com</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>