@page
@model KimTaiPhongThuy.Pages.Authentication.AccountModel
@{
    ViewData["Title"] = "Account";
}

<link rel="stylesheet" href="~/css/Authentication/Account.css" asp-append-version="true">


<div class="cont @(Model.IsSignUp ? "s--signup" : "")">
    <!-- Đăng nhập -->
    <div class="form sign-in">
        <h2>Xin chào</h2>
        <form method="post">
            <label>
                <span>Tên đăng nhập</span>
                <input type="text" asp-for="UserName" required />
            </label>
            <label>
                <span>Mật khẩu1</span>
                <input type="password" asp-for="Password" required />
            </label>
            <p class="forgot-pass">Quên mật khẩu?</p>
            <button type="submit" asp-page-handler="Login" class="submit" style="background-color: darkred;">
                Đăng nhập
            </button>
        </form>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p style="color:red;">@Model.ErrorMessage</p>
        }
    </div>

    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h3>Chưa có tài khoản? Hãy đăng kí!</h3>
            </div>
            <div class="img__text m--in">
                <h3>Nếu bạn đã có tài khoản, Hãy đăng nhập!</h3>
            </div>
            <div class="img__btn">
                <span class="m--up">Đăng ký</span>
                <span class="m--in">Đăng nhập</span>
            </div>
        </div>

        <!-- Đăng ký -->
        <div class="form sign-up">
            <h2>Đăng ký tài khoản</h2>
            <form method="post">
                <label>
                    <span>Tên người dùng</span>
                    <input type="text" asp-for="User.UserName" required />
                </label>
                <label>
                    <span>Email</span>
                    <input type="email" asp-for="User.Email" required />
                </label>
                <label>
                    <span>Mật khẩu</span>
                    <input type="password" asp-for="User.PassWord" required />
                </label>
                
                <button type="submit" asp-page-handler="Register" class="submit" style="background-color: darkred;">Đăng ký</button>
            </form>
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <p style="color:red;">@Model.Message</p>
            }
        </div>
    </div>
</div>

<script>
    document.querySelector('.img__btn').addEventListener('click', function () {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>