@page
@model KimTaiPhongThuy.Pages.Blog.IndexModel
@{
    ViewData["Title"] = "Blog Phong Thủy";
}

<div class="container mt-4">
    <h1 class="text-center">Blog Phong Thủy</h1>
    <p class="text-center">Khám phá những bài viết mới nhất về phong thủy, tử vi và cách áp dụng vào cuộc sống.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/images/WEB/SP4.3.png" class="card-img-top" alt="Phong thủy nhà ở">
                <div class="card-body">
                    <h5 class="card-title">Phong Thủy Nhà Ở</h5>
                    <p class="card-text">Hướng dẫn cách bố trí nhà cửa hợp phong thủy giúp gia đình hòa thuận, tài lộc dồi dào.</p>
                    <a href="#" class="btn btn-primary" style="
    background: darkred;
">Đọc tiếp</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="/images/WEB/SP5.png" class="card-img-top" alt="Vật phẩm phong thủy">
                <div class="card-body">
                    <h5 class="card-title">Vật Phẩm Phong Thủy</h5>
                    <p class="card-text">Khám phá các loại đá quý, tượng phong thủy giúp cân bằng năng lượng và mang lại may mắn.</p>
                    <a href="#" class="btn btn-primary" style="
    background: darkred;
">Đọc tiếp</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="/images/WEB/SP3.2.png" class="card-img-top" alt="Tử vi 12 con giáp">
                <div class="card-body">
                    <h5 class="card-title">Tử Vi 12 Con Giáp</h5>
                    <p class="card-text">Dự đoán tử vi theo con giáp của bạn để biết vận hạn, tình duyên, sự nghiệp. Mão đỏ vận,Hợi bấp bênh</p>
                    <a href="#" class="btn btn-primary" style="
    background: darkred;
">Đọc tiếp</a>
                </div>
            </div>
        </div>
    </div>
</div>
