@page
@model IndexModel
@{
    ViewData["Title"] = "Trang Chủ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body class="hompage">
    <header id="header">
        <div class="header-wrap">
        </div>
    </header>
    <section id="billboard" class="bg-grey overflow-hidden">
        <div class="swiper main-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url('images/tuvanphongthuy.png') center center / cover no-repeat; width: 1903px;">

                    <div class="banner-content">
                        <div class="container">

                            <div class="row justify-content-end">
                                <div class="text-content content-light col-md-6" data-aos="fade">

                                    <h4 class="subtitle text-uppercase">Kim Tai Phong Thuy</h4>

                                    <h1 class="text-uppercase"><a href="#">Tư Vấn Phong Thủy</a></h1>

                                    <p>Khám phá dịch vụ Tư vấn Phong Thuỷ tích hợp AI – giải pháp hiện đại kết hợp trí tuệ nhân tạo và nguyên lý phong thuỷ truyền thống. Chỉ với vài thao tác, bạn sẽ nhận được gợi ý tối ưu không gian sống, tăng tài lộc, sức khỏe, và cân bằng năng lượng, hoàn toàn cá nhân hoá cho bạn. Trải nghiệm ngay để tạo dựng môi trường hoàn hảo!</p>

                                    <div class="btn-left">
                                        <a href="/chat" class="btn btn-medium btn-alert">Tư Vấn Ngay</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

@*                 <div class="swiper-slide" style="background: url('images/banner-image-2.jpg') center center / cover no-repeat; width: 1903px;">

                    <div class="banner-content">
                        <div class="container">

                            <div class="row justify-content-end">
                                <div class="text-content col-md-6 col-md-offset-6" data-aos="fade">

                                    <h4 class="subtitle text-uppercase">Best Quality</h4>
                                    <h1 class="banner-title text-uppercase"><a href="#">Best Jewellery</a></h1>

                                    <p>Get 10% Discount on this festivals sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Labore et dolore magna aliqua tempor.</p>

                                    <div class="btn-left">
                                        <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="swiper-slide" style="background: url('images/banner-earrings.jpg') center center / cover no-repeat; width: 1903px;">

                    <div class="banner-content">
                        <div class="container">

                            <div class="row">
                                <div class="text-content content-light col-md-6" data-aos="fade">

                                    <h4 class="subtitle text-uppercase">Best Quality</h4>

                                    <h1 class="banner-title text-uppercase"><a href="#">Best Jewellery</a></h1>

                                    <p>Get 10% Discount on this festivals sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Labore et dolore magna aliqua tempor.</p>

                                    <div class="btn-left">
                                        <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="swiper-slide" style="background: url('images/banner-rings.jpg') center center / cover no-repeat; width: 1903px;">

                    <div class="banner-content">
                        <div class="container">

                            <div class="row justify-content-end">
                                <div class="text-content col-md-6 col-md-offset-6" data-aos="fade">

                                    <h4 class="subtitle text-uppercase">Best Quality</h4>
                                    <h1 class="banner-title text-uppercase"><a href="#">Best Jewellery</a></h1>

                                    <p>Get 10% Discount on this festivals sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Labore et dolore magna aliqua tempor.</p>

                                    <div class="btn-left">
                                        <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div> *@

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="company-services padding-large">
        <div class="container">

            <div class="row">
                <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="0">
                    <div class="icon-box-icon">
                        <i class="icon icon-coins" style="color: red;"></i>
                    </div>
                    <div class="icon-content">
                        <h2 class="text-uppercase">Chất lượng tốt nhất!</h2>
                        <p>Hoàn tiền 100% trong 20 ngày</p>
                    </div>
                </div>
                <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="200">
                    <div class="icon-box-icon">
                        <i class="icon icon-headphones" style="color: red;"></i>
                    </div>
                    <div class="icon-content">
                        <h2 class="text-uppercase">Hỗ trợ cao cấp</h2>
                        <p>Chúng tôi hỗ trợ AI trực tuyến 24 giờ một ngày</p>
                    </div>
                </div>
                <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="300">
                    <div class="icon-box-icon">
                        <i class="icon icon-rocket" style="color: red;"></i>
                    </div>
                    <div class="icon-content">
                        <h2 class="text-uppercase">Miễn phí vận chuyển</h2>
                        <p>Miễn phí vận chuyển cho tất cả các đơn hàng tại Việt Nam</p>
                    </div>
                </div>
                <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="400">
                    <div class="icon-box-icon" style="color: red;">
                        <i class="icon icon-suitcase"></i>
                    </div>
                    <div class="icon-content">
                        <h2 class="text-uppercase">Thanh toán an toàn</h2>
                        <p>Chúng tôi đảm bảo thanh toán an toàn</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="categories swiper-button-click">
        <div class="container">
            <div class="row">
                <div class="section-header text-center text-uppercase">
                    <h2 class="section-title">Sản phẩm của chúng tôi</h2>
                </div>
                <div class="swiper product-swiper overflow-hidden">

                    <div class="swiper-wrapper small-box">
                        <div class="swiper-slide">
                            <div class="content-box">
                                <figure class="bg-grey">
                                    <img src="images/necklace.png" alt="ring">
                                </figure>
                                <div class="category text-uppercase align-center">
                                    <a href="jewellery.html">Vòng cổ</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content-box">
                                <figure class="bg-grey">
                                    <img src="images/diamond-ring.png" alt="ring">
                                </figure>
                                <div class="category text-uppercase align-center">
                                    <a href="jewellery.html">Nhẫn</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content-box">
                                <figure class="bg-grey">
                                    <img src="images/earring.png" alt="ring">
                                </figure>
                                <div class="category text-uppercase align-center">
                                    <a href="jewellery.html">Bông tai</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content-box">
                                <figure class="bg-grey">
                                    <img src="images/bracelets.png" alt="ring">
                                </figure>
                                <div class="category text-uppercase align-center">
                                    <a href="jewellery.html">Vòng tay</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
        </div>
    </section>
    @* <section class="feat-collection padding-large">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="section-title">Featured Collections</h2>
                </div>
            </div>
            <div class="row product-content large-box">
                <div class="col-md-3">
                    <div class="content-box text-center" data-aos="fade" data-aos-delay="0">
                        <figure class="bg-grey">
                            <img src="images/pearl-diamond-earrings.png" alt="earring">
                        </figure>
                        <div class="category align-center">
                            <a href="jewellery.html">Pearl Diamond Earrings</a>
                        </div>
                        <span class="price-tag text-center">$34.00</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box text-center" data-aos="fade" data-aos-delay="100">
                        <figure class="bg-grey">
                            <img src="images/gold-silver-necklace.png" alt="earring">
                        </figure>
                        <div class="category align-center">
                            <a href="jewellery.html">The Necklace Gold Silver</a>
                        </div>
                        <span class="price-tag text-center">$78.00</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box text-center" data-aos="fade" data-aos-delay="200">
                        <figure class="bg-grey">
                            <img src="images/wedding-ring.png" alt="earring">
                        </figure>
                        <div class="category align-center">
                            <a href="jewellery.html">Diamond Cold Wedding Ring</a>
                        </div>
                        <span class="price-tag text-center">$54.00</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box text-center" data-aos="fade" data-aos-delay="300">
                        <figure class="bg-grey">
                            <img src="images/gemstone-necklace.png" alt="earring">
                        </figure>
                        <div class="category align-center">
                            <a href="jewellery.html">The Blue Gemstone Necklace</a>
                        </div>
                        <span class="price-tag text-center">$66.00</span>
                    </div>
                </div>
            </div>
            <div class="btn-center">
                <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
            </div>
        </div>
    </section> *@
    <section class="special-ornaments">
        <div class="container">
            <div class="row ornaments-content">
                <div class="col-md-6">

                    <div class="content-box bg-grey d-flex justify-content-evenly align-items-center" data-aos="fade">
                        <div class="content-text text-center">
                            <h4>
                                Giảm giá lên đến <strong style="color: red;">25%</strong>
                            </h4>
                            <h2 class="element-title">Mặt dây chuyền đẹp</h2>
                            <div class="text-center">
                                <a href="#" class="btn btn-outline-dark">Mua Ngay</a>
                            </div>
                        </div>
                        <figure>
                            <img src="images/pendant.png" alt="ornaments">
                        </figure>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="content-box bg-grey d-flex justify-content-evenly align-items-center" data-aos="fade">
                        <div class="content-text text-center">
                            <h4>
                                Đến từ <strong style="color: red;">Bộ sưu tập đẹp nhất</strong>
                            </h4>
                            <h2 class="element-title">Bộ sưu tập hoa tai</h2>
                            <div class="text-center">
                                <a href="#" class="btn btn-outline-dark">Mua Ngay</a>
                            </div>
                        </div>
                        <figure>
                            <img src="images/diamond-earring.png" alt="ornaments">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="about-us padding-large" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="section-title mb-5">Cửa hàng của chúng tôi</h2>
                </div>
                <div class="text-content text-center">
                    <strong>Kim Tài Phong Thủy</strong>
                    <p>Địa chỉ uy tín chuyên cung cấp trang sức và vật phẩm phong thủy chất lượng. Chúng tôi mang đến các sản phẩm từ đá quý thiên nhiên, giúp thu hút tài lộc, may mắn và bình an cho chủ nhân. Mỗi món đồ tại Kim Tài Phong Thủy đều được chọn lọc kỹ lưỡng, kết hợp giữa vẻ đẹp tinh tế và ý nghĩa phong thủy sâu sắc. Hãy đến với chúng tôi để tìm kiếm vật phẩm phù hợp, cân bằng năng lượng và gia tăng vận khí cho cuộc sống và công việc của bạn!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="special-offer padding-large">
        <div class="container">
            <div class="row">
                <div class="col-md-12 padding-small">
                    <div class="section-header text-center">
                        <h3 class="subtitle">
                            <strong style="color: red;">Khuyến mãi đặc biệt</strong> giảm giá 40%
                        </h3>
                    </div>
                    <div class="text-content text-center">
                        <h2 class="element-title">
                            <strong>Nhẫn ngọc đẹp cho đám cưới</strong>
                        </h2>
                        <p>Biến giấc mơ của bạn thành hiện thực Chiếc nhẫn kim cương đẹp với giá cả phải chăng</p>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn-medium btn-primary">Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
@*     <section class="latest-blogs padding-large">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="section-title">Bài viết gần nhất</h2>
                </div>
                <div class="col-md-4 post-item">
                    <figure>
                        <img src="images/postitem1.jpg" alt="jewellery" class="post-image">
                    </figure>
                    <div class="post-content">
                        <div class="meta-tags">
                            <span class="meta-date">Posted in September 15, 2020</span>
                            <span class="meta-date">by Simon</span>
                        </div>
                        <h3 class="post-title fw-bold">
                            <a href="#">Wear Your Earings Perfectly</a>
                        </h3>
                        <p>First we need to check all the luxury colors of the jewels whic</p>
                    </div>
                </div>
                <div class="col-md-4 post-item">
                    <figure>
                        <img src="images/postitem2.jpg" alt="jewellery" class="post-image">
                    </figure>
                    <div class="post-content">
                        <div class="meta-tags">
                            <span class="meta-date">Posted in September 25, 2020</span>
                            <span class="meta-date">by Simon</span>
                        </div>
                        <h3 class="post-title fw-bold">
                            <a href="#">How Can You Choose Original Jewels</a>
                        </h3>
                        <p>First we need to check all the luxury colors of the jewels whic</p>
                    </div>
                </div>
                <div class="col-md-4 post-item">
                    <figure>
                        <img src="images/postitem3.jpg" alt="jewellery" class="post-image">
                    </figure>
                    <div class="post-content">
                        <div class="meta-tags">
                            <span class="meta-date">Posted in September 28, 2020</span>
                            <span class="meta-date">by Simon</span>
                        </div>
                        <h3 class="post-title fw-bold">
                            <a href="#">How To Look Gorgeous With Jewels</a>
                        </h3>
                        <p>First we need to check all the luxury colors of the jewels whic</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-medium btn-primary">View All</a>
            </div>
        </div>
    </section> *@

    <section class="testimonials-wrap swiper-button-click overflow-hidden padding-large no-padding-top" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <h2 class="section-title">Khách hàng</h2>

                    <div class="swiper testimonial-swiper">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="reviews-content">
                                    <img src="images/reviewer-image.jpg" alt="reviewer" class="review-image">
                                    <p>"Mình rất ưng ý với chiếc vòng phỉ thúy này! Đeo lên cảm giác nhẹ nhàng, dễ chịu, lại mang ý nghĩa phong thủy tốt, giúp mình cảm thấy may mắn hơn mỗi ngày."</p>
                                    <div class="testimonial-author">
                                        <strong class="name d-flex justify-content-center">-Chị Nga </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-content">
                                    <img src="images/reviewer-image1.jpg" alt="reviewer" class="review-image">
                                    <p>"Sản phẩm đẹp hơn cả mong đợi! Màu xanh ngọc rất tinh tế, đeo vào thấy tự tin hơn hẳn. Nghe nói phỉ thúy giúp thu hút vượng khí, mình hy vọng sẽ gặp nhiều may mắn!"</p>
                                    <div class="testimonial-author">
                                        <strong class="name d-flex justify-content-center">-Chị Kiều</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-content">
                                    <img src="images/reviewer-image2.jpg" alt="reviewer" class="review-image">
                                    <p>"Vòng rất vừa tay, chất đá mát lạnh và tự nhiên. Mình đeo một thời gian thấy tâm trạng thoải mái hơn, công việc cũng suôn sẻ hơn. Rất đáng để sở hữu!"</p>
                                    <div class="testimonial-author">
                                        <strong class="name d-flex justify-content-center">-Chị Linh</strong>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>